@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}



.logo-nav-img {
    height: 50px;
    width: 130px;
    margin-left: 90px;

}

.early-access-btn,
.shared-btn {
    background-color: #30B868;
    color: #ffff;
    font: weight 600px;
    border: 2px solid #30B868;
    padding: 15px 25px;
    border-radius: 3px;
    margin-right: 90px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold
}

.early-access-btn:hover,
.shared-btn:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

    transform: translateY(1px);
    background-color: #16603b;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;

}

.heading-text {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #001931;
}

.nav-item-container {
    display: flex;

    gap: 70px;

}


.hero {
    text-align: center;
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
        url("assets/hero-bg.png");
    background-size: 25px 25px, cover;

    background-repeat: repeat, no-repeat;
    background-position: center, center;
    padding: 120px;

}

.hero-badge-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hero-badge {

    display: flex;
    background-color: aliceblue;
    padding: 10px 15px;
    border-radius: 300px;

    margin-bottom: 0px;




}

.shared-btn {
    display: flex;
    align-items: center;


}



.hero-btn {

    display: flex;
    justify-content: center;

}

.secondary-btn {
    background: transparent;
    border: 1px solid white;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border-radius: 3px;

}

.secondary-btn:hover {

    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

    transform: translateY(1px);
    background-color: #0608078e;
}




.note-title {


    margin-top: 60px;

    justify-items: center;

}

.icon-img {
    background-color: red;
    padding: 14px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-bottom: 25px;
}

.icon-title {
    font-size: 26px;
    margin-bottom: 10px;
    color: #001931;

}

.sub-title-text,
.icon-title-text {
    font-size: 16px;
    color: #627382;
    margin-bottom: 26px;

}

.icon-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 30px;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-right: 18px;

}

.note-icons {
    display: flex;
    padding: 0 200px;

}

.check-text {
    color: #001931;
    font-size: 16px;
}

.check-container {
    display: flex;
    margin-bottom: 15px;
    align-items: center;


}

.brain-section {
    display: flex;
    align-items: center;
    padding: 0 300px;

}

.brain-img {
    margin-right: 10px;
}

.check-img {
    margin-right: 8px;
}

.early-access-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F6F2;
    margin: 120px;
    padding: 90px;
}

footer {
    background-color: #001931;
    padding: 100px 80px;
    padding-bottom: 60px;
}



.footer-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icon-container a {
    margin-right: 6px;
}

.copy-right-text {
    color: #fafafa;
    text-align: center;
    border-top: 2px solid #62738255;
    padding-top: 30px;
    margin-top: 90px;

}